.button {
  display: inline;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 30px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 36px;
  font-family: @font-family;
  font-size: @font-size-big;
  font-weight: 700;
}
