.copyright {
  display: flex;
  width: 130px;
  margin-top: 5px;
}

.copyright__text {
  font-size: @font-size-normal;
  font-weight: 400;
  line-height: 18px;
  color: @color-dark-blue;
  margin-top: 21px;
}

.copyright__link svg {
  fill: @color-pink;
  margin-top: 13px;
  margin-left: 15px;

  &:hover {
    fill: @color-dark-blue;
  }

  &:active {
    fill: rgb(190, 194, 199);
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-top: 8px;
    margin-right: 34px;
  }

  .copyright__text {
    font-size: 18px;
  }
}
