@media (max-width: 660px) {
  .diagram {
    display: none;

    &__description br {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .diagram .container {
    display: flex;
    padding-top: 60px;
  }

  .diagram {
    display: flex;
    justify-content: flex-end;
    height: 335px;
    width: auto;
    padding: 0 20px;

    &__left {
      margin-top: -3px;
    }

    & .diagram__timer {
      fill: rgb(222, 222, 222);
    }

    & .diagram__timer--tablet {
      width: 316px;
      margin-left: -78px;
    }

    & .diagram__timer--desktop {
      display: none;
    }

    & .diagram__diagram-fill {
      position: absolute;
      fill: @color-pink;
    }

    & .diagram__diagram-fill--tablet {
      margin-top: -323px;
      margin-left: 20px;
    }

    & .diagram__diagram-fill--desktop {
      display: none;
    }

    &__left::before {
      content: "24";
      position: absolute;
      font-size: 96px;
      color: @color-pink;
      margin-left: 60px;
      margin-top: 139px;
      font-weight: 700;
    }

    &__right {
      margin-left: 71px;
    }

    &__title {
      font-size: 30px;
      line-height: 1.2;
      margin: 33px 0 -4px -1px;
    }

    &__description {
      color: @color-dark-blue;
      width: 305px;
      margin-left: -1px;
      margin-bottom: 11px;
    }

    &__description br {
      display: none;
    }

    &__link {
      color: @color-pink;
      text-decoration: underline;
      margin-left: -1px;
    }
  }
}

@media (min-width: @desktop-width) {
  .diagram .container {
    padding-top: 0;
  }

  .diagram {
    background-color: rgb(242, 242, 242);
    margin: -29px 0;
    height: 359px;

    &__left {
      margin: -50px 0 0 10px;
      z-index: 1;
    }

    & .diagram__timer--tablet {
      display: none;
    }

    & .diagram__timer--desktop {
      display: block;
      width: 398px;
      margin-left: -100px;
    }

    & .diagram__diagram-fill--tablet {
      display: none;
    }

    & .diagram__diagram-fill--desktop {
      display: block;
      margin-top: -277px;
    }

    &__right {
      margin-right: 58px;
    }

    &__left::before {
      font-size: 119px;
      margin-left: 79px;
      margin-top: 177px;
    }

    &__left::after {
      background-size: 297px 220px;
      transform: translateY(-118%);
      width: 258px;
      height: 225px;
    }

    &__description {
      font-size: @font-size-big;
      line-height: 29px;
      width: 526px;
      margin-bottom: 34px;
    }

    &__title {
      margin: 38px 0 25px -1px;
    }

    &__title br {
      display: none;
    }

    &__link {
      font-size: @font-size-big;
      line-height: 26px;
    }
  }
}
