.download-app__wrapper {
  background-color: #1d2631;
  min-height: 242px;
  text-align: center;
}

.download-app__wrapper-list {
  display: block;
  position: relative;
}

.download-app__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin-top: 0;
}

.download-app__platform-icon {
  &--apple {
    margin-left: 16px;
    margin-top: -6px;
  }

  &--windows {
    margin-top: 2px;
  }
}

.download-app__description {
  font-weight: 300;
  font-size: @font-size-normal;
  color: @color-white-opacity;
  text-align: center;
}
