.download-app {
  background-color: @color-dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -1px 3px;
  background-size: 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 696px auto;
    background-position: center 2px;
  }
}

.download-app__wrapper {
  background-color: #1d2631;
  min-height: 212px;
  text-align: center;
  padding: 43px 20px 15px;
  margin-top: -5px;
}

.download-app__wrapper-list {
  display: block;
  position: relative;
  margin-top: 35px;
}

.download-app__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -1px;
  padding: 0;
}

.download-app__right {
  max-width: 80%;
  margin-top: 181px;
}

.download-app__platform-icon--apple {
  margin-left: 7px;
  margin-top: 14px;
}

.download-app__platform-icon--android {
  margin-top: 18px;
}

.download-app__platform-icon--windows {
  margin-top: 21px;
  margin-left: 5px;
  margin-right: 8px;
}

.download-app__description {
  font-weight: 300;
  font-size: @font-size-normal;
  color: @color-white-opacity;
  text-align: center;
}

.download-app__text {
  display: none;
}

.download-app .container {
  display: flex;
  flex-direction: column-reverse;
}

.download-app__button {
  text-align: center;
  color: #ffffff;
  border-color: #ffffff;
  line-height: 1;
}

.download-app__button:hover {
  background-color: @color-white;
  color: @color-pink;
}

.download-app__button:active {
  color: @color-pink-light;
}

@media (min-width: @tablet-width) {
  .download-app {
    height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 1px;
    background-size: auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-tablet@2x.jpg") no-repeat;
      background-size: 1091px auto;
      background-position: center -31px;
    }
  }

  .download-app .container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .download-app__right {
    background-color: transparent;
    align-self: flex-end;
    max-width: initial;
    transform: translateX(6%);
    margin-top: 185px;
    margin-left: -61%;
    z-index: 0;
  }

  .download-app__left {
    z-index: 1;
  }

  .download-app__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    z-index: 1;
    background-color: transparent;
    margin-top: -18px;
  }

  .download-app__text {
    display: block;
    width: 189px;
    color: @color-white;
    font-size: 40px;
    font-weight: 300;
    margin-top: 177px;
    margin-left: 35px;
    line-height: 1.2;
  }

  .download-app__button {
    padding: 14px 38px 18px;
    margin: -7px -21px -4px -19px;
  }

  .download-app__list {
    margin-left: 21px;
  }

  .download-app__description {
    font-size: @font-size-big;
    margin: 33px -21px;
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    height: 856px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 1px;
    background-size: auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-desktop@2x.jpg") no-repeat;
      background-size: 2552px 850px;
      background-position: center -26px;
    }
  }

  .download-app__wrapper {
    margin-top: 95px;
    margin-left: -30px;
  }

  .download-app__wrapper-list {
    margin-top: 38px;
  }

  .download-app__text {
    width: 269px;
    font-size: 52px;
    margin-top: 79px;
    margin-left: 35px;
    letter-spacing: -1px;
    line-height: 60px;
  }

  .download-app__button {
    margin: 1px -19px 19px 19px;
    padding: 14px 14px 17px 19px;
    font-size: 21px;
  }

  .download-app__list {
    margin-top: -2px;
    margin-left: 61px;
  }

  .download-app__description {
    margin: 48px 20px;
  }

  .download-app__right {
    margin-top: 211px;
    margin-left: -404px;
    transform: translateX(122px);
  }
}
