.features {
  display: block;
  position: relative;
  background-color: rgb(242, 242, 242);
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.features__wrapper:not(.features__wrapper--wrap) {
  overflow: hidden;
  background: url("../img/bg-triangle-white.svg") no-repeat;
  background-size: auto 28px;
  background-color: #f2f2f2;
}

.features__wrapper::after {
  content: "";
  position: absolute;
  width: 157px;
  height: 277px;
  bottom: 0;
  left: 50%;
  transform: translateX(-49.2%);
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat, url("../img/iphone-screen-mobile@2x.png") no-repeat;
  background-size: 156px auto;
}


.features__title {
  background-color: @color-white;
  padding: 16px 0 8px;
}

.features__heading {
  color: @color-dark-blue;
  text-align: center;
  font-weight: 300;
  font-size: @font-size-bigger;
  line-height: 29px;
}

.features__heading--second {
  padding-top: 6px;
}

.features__item {
  flex-basis: auto;
}

.features__item-title {
  color: @color-black;
  font-size: @font-size-big;
  font-weight: 700;
  line-height: @line-height-normal;
  text-align: center;
  margin-bottom: -2px;
}

.features__item-title br {
  display: none;
}

.features__item-description {
  color: @color-dark-blue;
  font-size: @font-size-normal;
  font-weight: 400;
  text-align: center;
  width: 275px;
}

.features__item-description br {
  display: none;
}

.features__wrapper--wrap {
  display: flex;
  flex-direction: column;
  margin: 63px 20px 303px;
}

@media (min-width: @tablet-width) {
  .features__wrapper .container {
    display: flex;
    justify-content: flex-end;
  }

  .features__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 31px;
  }

  .features__heading {
    font-size: 40px;
    margin-bottom: 0;
  }

  .features__heading--second {
    line-height: 47px;
    margin-top: 0;
    padding: 9px 20px;
  }

  .features__wrapper {
    margin: 0;
    z-index: 1;
  }

  .features__wrapper:not(.features__wrapper--wrap) {
    background-size: auto 62px;
  }

  .features__wrapper::after {
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat, url("../img/iphone-screen-3-tablet@2x.png") no-repeat;
    background-size: 268px 481px, cover;
    margin-left: -180px;
    width: 265px;
    height: 482px;
  }

  .features__wrapper--wrap {
    margin: 65px -9px 27px 0;
  }

  .features__wrapper:not(.features__wrapper--wrap)::before {
    height: 61px;
    z-index: 0;
  }

  .features__item-title {
    text-align: left;
  }

  .features__item:last-child .features__item-description {
    margin-right: -5px;
  }

  .features__item:last-child .features__item-title {
    margin-top: 21px;
    margin-left: 1px;
  }

  .features__item-description {
    width: 320px;
    margin-bottom: 15px;
    text-align: left;
  }

  .features__item-description br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .features__wrapper .container {
    display: block;
  }

  .features__wrapper--wrap {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin: -1px 0 98px;
    padding: 0 0 0 36px;
    width: 100%;
  }

  .features__wrapper:not(.features__wrapper--wrap) {
    background-size: 100% auto;
  }

  .features__item {
    width: 245px;
    margin-right: 75px;
  }

  .features__item-title {
    text-align: center;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -1px;
    margin-top: 56px;
  }

  .features__item-title br {
    display: block;
  }

  .features__title {
    padding: 30px 0 59px;
  }

  .features__heading {
    font-size: 52px;
    margin-left: -2px;
    letter-spacing: -1px;
  }

  .features__heading--second {
    line-height: 59px;
    padding: 17px 121px;
  }

  .features__item:last-child .features__item-title {
    margin-left: 0;
    margin-top: 56px;
  }

  .features__item:last-child .features__item-description {
    margin-left: 3px;
  }

  .features__item-description {
    font-size: @font-size-big;
    text-align: center;
    width: 240px;
    line-height: 30px;
    margin-top: 28px;
    margin-left: 4px;
  }

  .features__item-description br {
    display: none;
  }

  .features__wrapper:not(.features__wrapper--wrap)::before {
    height: 90px;
  }

  .features__wrapper::after {
    display: none;
  }

  .features__item--image-first::before {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    transform: translateX(-7%);
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/iphone-screen-1-desktop@2x.png") no-repeat;
      background-size: auto 100%;
    }
  }

  .features__item--image-second::before {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    transform: translateX(-6%);
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/iphone-screen-2-desktop@2x.png") no-repeat;
      background-size: auto 100%;
    }
  }

  .features__item--image-third::before {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    transform: translateX(-6%);
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/iphone-screen-3-desktop@2x.png") no-repeat;
      background-size: auto 89%;
    }
  }
}
