.features {
  display: block;
  position: relative;
  background-color: rgb(242, 242, 242);
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  &:not(.features__wrapper--wrap)::before {
    content: "";
    position: absolute;
    background: url("../img/bg-triangle-white.svg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 157px;
    height: 277px;
    bottom: 0;
    left: 50%;
    transform: translateX(-49.2%);
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat, url("../img/iphone-screen-mobile@2x.png") no-repeat;
    background-size: 156px auto;
  }
}

.features__title {
  background-color: @color-white;
  padding: 16px 0 8px;
}

.features__title p {
  color: @color-dark-blue;
  text-align: center;
  font-weight: 300;
  font-size: @font-size-bigger;
  line-height: 29px;
}

.features__title p:last-child {
  padding-top: 6px;
}

.features__item {
  flex-basis: auto;
  margin-bottom: 7px;
}

.features__item-title {
  color: @color-black;
  font-size: @font-size-big;
  font-weight: 700;
  line-height: @line-height-normal;
  text-align: center;
  margin-bottom: -4px;
}

.features__item-title br {
  display: none;
}

.features__item-description {
  color: @color-dark-blue;
  font-size: @font-size-normal;
  font-weight: 400;
  text-align: center;
}

.features__item-description br {
  display: none;
}

.features__wrapper--wrap {
  display: flex;
  flex-direction: column;
  margin: 63px 20px 307px;
}

@media (min-width: @tablet-width) {
  .features__wrapper .container {
    display: flex;
    justify-content: flex-end;
  }

  .features__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 31px;
  }

  .features__title p {
    font-size: 40px;
    margin-bottom: 0;
  }

  .features__title p:last-child {
    line-height: 47px;
    margin-top: 0;
    padding: 9px 20px;
  }

  .features__wrapper {
    margin: 0;
    z-index: 1;

    &::after {
      background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat, url("../img/iphone-screen-3-tablet@2x.png") no-repeat;
      background-size: 268px 481px, cover;
      left: 0;
      transform: translateX(8%);
      width: 265px;
      height: 482px;
    }
  }

  .features__wrapper--wrap {
    margin: 65px 5px 25px 309px;
  }

  .features__wrapper:not(.features__wrapper--wrap)::before {
    height: 61px;
    z-index: 0;
  }

  .features__item-title {
    margin-bottom: -3px;
  }

  .features__item {
    text-align: left;
  }

  .features__item:last-child p {
    margin-top: 15px;
    margin-left: 2px;
    margin-right: -5px;
  }

  .features__item:last-child h3 {
    margin-top: 19px;
    margin-left: 3px;
  }

  .features__item-description {
    margin-bottom: 11px;
  }

  .features__item-description br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .features__wrapper--wrap {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 0 130px;
    width: 100%;
  }

  .features__item {
    width: 249px;
  }

  .features__item-title {
    text-align: center;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -1px;
    margin-top: 55px;
  }

  .features__item-title br {
    display: block;
  }

  .features__title {
    padding: 2px 0 64px;
  }

  .features__title p {
    font-size: 52px;
    margin-top: 79px;
    margin-left: -2px;
    letter-spacing: -1px;
  }

  .features__title p:last-child {
    line-height: 59px;
    padding: 17px 121px;
  }

  .features__item:last-child h3 {
    margin-left: 0;
  }

  .features__item:last-child p {
    margin-top: 27px;
    margin-left: 0;
  }

  .features__item-description {
    font-size: @font-size-big;
    text-align: center;
    line-height: 30px;
    margin-top: 26px;
  }

  .features__item-description br {
    display: none;
  }

  .features__wrapper:not(.features__wrapper--wrap)::before {
    height: 90px;
  }

  .features__wrapper::after {
    display: none;
  }

  .features__item--image-first::before {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    transform: translateX(-7%);
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/iphone-screen-1-desktop@2x.png") no-repeat;
      background-size: auto 100%;
    }
  }

  .features__item--image-second::before {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    transform: translateX(-6%);
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/iphone-screen-2-desktop@2x.png") no-repeat;
      background-size: auto 100%;
    }
  }

  .features__item--image-third::before {
    content: "";
    display: block;
    width: 300px;
    height: 335px;
    transform: translateX(-6%);
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/iphone-screen-3-desktop@2x.png") no-repeat;
      background-size: auto 89%;
    }
  }
}
