.name {
  font-weight: 400;
  line-height: 30px;
  color: @color-pink;
  text-transform: uppercase;
}

.feedback-container__title {
  font-weight: 400;
  line-height: 18px;
  color: @color-pink;
  text-transform: uppercase;
}

.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: @color-dark-blue;
}

.feedback-container__field {
  font-weight: 400;
  line-height: 30px;
  color: @color-dark-blue;
  text-transform: uppercase;
}

.feedback-container__field sup {
  color: @color-pink;
}
