.feedback-container__name {
  font-weight: 400;
  line-height: 41px;
  color: @color-pink;
  text-transform: uppercase;
  margin-left: 22px;
}

.feedback-container__title {
  font-size: @font-size-normal;
  font-weight: 400;
  line-height: 18px;
  color: @color-pink;
  text-transform: uppercase;
  text-align: center;
}

.feedback-container__title--user-contacts {
  display: none;
}

.feedback-container__user-contacts .feedback-container__list {
  padding: 15px 20px;
}

.feedback-container__description,
.feedback-container__description-radio {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: @color-dark-blue;
  margin-top: 5px;
}

.feedback-container__field {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: @color-dark-blue;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-left: -2px;
  margin-top: 30px;
}

.feedback-container__footnote {
  display: none;
}

.feedback-container__superscript {
  color: @color-pink;
}

.feedback-container__list {
  padding: 0;
}

.feedback-container__user-name {
  padding: 0;
  margin: 29px 20px 31px;
}

.feedback-container__text::placeholder,
.feedback-container__contact::placeholder {
  color: @color-dark-blue;
  font-family: @font-family;
  font-size: 18px;
}

.feedback-container__text {
  width: 255px;
  height: 56px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 3px;
  margin-top: -1px;
  margin-bottom: 10px;
  padding-left: 19px;
  padding-top: 4px;
  line-height: 1;
}

.feedback-container__achievement {
  background-color: rgb(242, 242, 242);
  padding: 37px 20px 0;
}

.feedback-container__achievement .feedback-container__title {
  margin: 0 30px 45px 28px;
  font-size: @font-size-normal;
  line-height: 19px;
}

.feedback-container__achievement .feedback-container__list-item {
  position: relative;
  padding-bottom: 47px;
}

.feedback-container__description {
  display: block;
  position: relative;
  margin-left: 69px;
  cursor: pointer;
}

.feedback-container__description::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  margin-top: -5px;
  margin-left: -69px;
  background-color: @color-white;
  border: 2px solid rgb(229, 229, 229);
}

.feedback-container__description:hover::before {
  border: 2px solid @color-dark-blue;
}

.feedback-container__description:active::before {
  border: solid 2px @color-pink;
}

.feedback-container__checkbox {
  position: absolute;
  left: -9999px;
}

.feedback-container__checkbox:focus + .feedback-container__description::before {
  border-color: @color-dark-blue;
}

.feedback-container__checkbox:checked + .feedback-container__description::after {
  content: "";
  display: block;
  position: absolute;
  margin-left: -60px;
  margin-top: -2px;
  width: 20px;
  height: 8px;
  transform: translateY(-214%) rotate(-45deg);
  border: 2px solid @color-pink;
  border-top-style: none;
  border-right-style: none;
  z-index: 2;
}

.feedback-container__contact {
  width: 257px;
  height: 54px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 3px;
  margin-bottom: 10px;
  padding-left: 19px;
  padding-top: 4px;
}

.feedback-container__platform {
  background-color: rgb(242, 242, 242);
  padding: 39px 20px 0;
}

.feedback-container__platform .feedback-container__title {
  margin: 2px 20px 0 18px;
}

.feedback-container__platform .feedback-container__list {
  padding-top: 23px;
}

.feedback-container__platform .feedback-container__list-item {
  display: flex;
  padding-bottom: 44px;
}

.feedback-container__platform .feedback-container__list-item:last-child {
  padding-bottom: 46px;
}

.feedback-container__radio {
  position: absolute;
  left: -9999px;
}

.feedback-container__radio:focus + .feedback-container__description-radio::before {
  border-color: @color-dark-blue;
}

.feedback-container__description-radio::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  margin-left: 20px;
  margin-top: -5px;
  background-color: @color-white;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 50%;
}

.feedback-container__description-radio:hover::before {
  border: 2px solid @color-dark-blue;
}

.feedback-container__description-radio:active::before {
  border: solid 2px @color-pink;
}

.feedback-container__radio:checked + .feedback-container__description-radio::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  margin-left: 32px;
  transform: translateY(-151%);
  background-color: @color-pink;
  border-radius: 50%;
  z-index: 2;
}

.feedback-container__description-radio {
  margin-left: 69px;
  margin-top: 2px;
}

.feedback-container__comment {
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.feedback-container__comment .feedback-container__title {
  margin-top: 38px;
  margin-left: -3px;
}


.feedback-container__user-comment {
  margin: 4px 18px 10px;
  width: 237px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 3px;
  padding: 14px 20px 154px;
}

.feedback-container__user-comment::placeholder {
  font-family: @font-family;
  font-size: @font-size-big;
  color: @color-dark-blue;
  line-height: 30px;
}

.feedback-container__end {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 29px;
}

.feedback-container__button-form {
  background-color: rgb(42, 171, 109);
  width: 281px;
  height: 64px;
  border: none;
  border-radius: 3px;
  color: @color-white;
  font-family: inherit;
  font-size: @font-size-big;
  font-weight: 700;
  text-transform: uppercase;
}

.feedback-container__button-form:hover {
  border: none;
  background-color: rgb(28, 155, 94);
}

.feedback-container__button-form:active {
  outline: none;
  border: none;
  color: rgb(97, 185, 143);
}

.feedback-container__button-form:focus {
  outline: none;
  border: none;
}

@media (min-width: @tablet-width) {
  .feedback-container__user-name {
    margin: 21px 0 0 0;
  }

  .feedback-container__user-name .feedback-container__list-item {
    margin-bottom: 42px;
  }

  .feedback-container__name {
    margin: 0 16px 0 0;
  }

  .feedback-container__text {
    width: 499px;
  }

  .feedback-container__text--first-name {
    width: 540px;
    height: 54px;
    margin-bottom: 9px;
  }

  .feedback-container__platform {
    background-color: @color-white;
    border: 2px solid rgb(229, 229, 229);
    padding: 5px 0 0 59px;
    margin-top: 14px;
  }

  .feedback-container__platform .feedback-container__title {
    margin: -15px 124px 31px 65px;
    background-color: @color-white;
  }

  .feedback-container__platform .feedback-container__list {
    padding-top: 14px;
    padding-bottom: 34px;
  }

  .feedback-container__platform .feedback-container__list-item {
    padding-bottom: 75px;
  }

  .feedback-container__form {
    display: flex;
    flex-direction: column;
  }

  .feedback-container__left {
    order: -3;
  }

  .feedback-container__right {
    order: -2;
  }

  .feedback-container__description-radio {
    position: absolute;
    margin-left: 57px;
    margin-top: 5px;
  }

  .feedback-container__description-radio::before {
    margin-left: -59px;
    margin-top: -4px;
  }

  .feedback-container__radio:checked + .feedback-container__description-radio::after {
    margin-left: -47px;
    margin-top: 1px;
  }

  .feedback-container__user-contacts {
    order: -1;
    margin-top: 63px;
    border: 2px solid rgb(229, 229, 229);
  }

  .feedback-container__title--user-contacts {
    display: block;
    margin: -10px 177px 0 178px;
    background-color: @color-white;
  }

  .feedback-container__user-contacts .feedback-container__list {
    padding: 0 59px 39px;
    margin-top: -24px;
  }

  .feedback-container__user-contacts .feedback-container__list-item {
    display: flex;
    flex-direction: column-reverse;
  }

  .feedback-container__user-contacts .feedback-container__list-item:last-child {
    margin: 27px 0 -31px;
  }

  .feedback-container__user-contacts .feedback-container__name {
    margin: -6px 0 -2px 18px;
  }

  .feedback-container__user-contacts .feedback-container__contact {
    width: 416px;
    height: 56px;
    padding: 3px 0 0 17px;
  }

  .feedback-container__list-item--phone::after {
    content: "";
    position: relative;
    width: 63px;
    height: 63px;
    background: url("../img/icon-phone.svg") no-repeat;
    background-color: rgb(229, 229, 229);
    background-size: 27px 20px;
    background-position: 16px 20px;
    margin-left: 437px;
    top: 63px;
  }

  .feedback-container__list-item--email::after {
    content: "";
    position: relative;
    width: 63px;
    height: 63px;
    background: url("../img/icon-mail.svg") no-repeat;
    background-color: rgb(229, 229, 229);
    background-size: 20px 14px;
    background-position: 20px 25px;
    margin-left: 437px;
    top: -2px;
  }

  .feedback-container__list-item--email .feedback-container__contact {
    margin-top: -64px;
  }

  .feedback-container__achievement {
    background-color: transparent;
    border: 2px solid rgb(229, 229, 229);
    margin-top: 65px;
  }

  .feedback-container__achievement .feedback-container__list {
    padding: 30px 0 0 39px;
    margin-bottom: 7px;
  }

  .feedback-container__achievement .feedback-container__list-item {
    padding-bottom: 47px;
  }

  .feedback-container__achievement .feedback-container__title {
    background-color: @color-white;
    margin: -46px 71px 0;
  }

  .feedback-container__description::before {
    margin-top: -5px;
    margin-left: -59px;
  }

  .feedback-container__checkbox:checked + .feedback-container__description::after {
    margin-left: -50px;
  }

  .feedback-container__description {
    position: relative;
    margin-left: 57px;
  }

  .feedback-container__comment {
    margin-top: 64px;
    border: 2px solid rgb(229, 229, 229);
  }

  .feedback-container__comment .feedback-container__title {
    position: absolute;
    background-color: @color-white;
    margin: -10px 177px 50px 176px;
    width: 261px;
  }

  .feedback-container__user-comment {
    width: 456px;
    margin: 47px 60px 43px;
    padding: 13px 22px 145px 17px;
  }

  .feedback-container__end {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 68px;
  }

  .feedback-container__button-form {
    width: 300px;
    height: 63px;
  }

  .feedback-container__field {
    margin-top: -3px;
    letter-spacing: -0.7px;
  }
}

@media (min-width: @desktop-width) {
  .feedback-container__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback-container__text {
    width: 340px;
  }

  .feedback-container__text--first-name {
    width: 376px;
  }

  .feedback-container__user-contacts,
  .feedback-container__achievement,
  .feedback-container__comment {
    width: 100%;
  }

  .feedback-container__user-name {
    padding: 37px 0 0 9px;
    margin-top: 17px;
  }

  .feedback-container__user-name .feedback-container__list-item {
    margin-bottom: 44px;
  }

  .feedback-container__user-name .feedback-container__text {
    width: 317px;
    padding: 3px 0 2px 19px;
  }

  .feedback-container__user-name .feedback-container__text--first-name {
    width: 359px;
    padding: 5px 0 0 20px;
  }

  .feedback-container__platform {
    width: 435px;
    padding: 0;
    margin: 62px 0 0 68px;
  }

  .feedback-container__platform .feedback-container__title {
    margin: -9px 36px 0 29px;
  }

  .feedback-container__platform .feedback-container__list {
    padding: 32px 0 33px 74px;
  }

  .feedback-container__platform .feedback-container__list-item {
    padding-bottom: 74px;
  }

  .feedback-container__description-radio {
    margin-top: 4px;
    margin-left: 58px;
  }

  .feedback-container__description-radio::before {
    margin-top: -5px;
    margin-left: -60px;
  }

  .feedback-container__radio:checked + .feedback-container__description-radio::after {
    margin-left: -48px;
    margin-top: 0;
  }

  .feedback-container__user-contacts {
    margin: 10px 10px 0 0;
  }

  .feedback-container__user-contacts .feedback-container__list {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 1px 67px;
  }

  .feedback-container__user-contacts .feedback-container__list-item:last-child {
    margin: 0;
  }

  .feedback-container__user-contacts .feedback-container__contact {
    width: 352px;
    padding-left: 18px;
  }

  .feedback-container__user-contacts .feedback-container__name {
    margin: -6px 0 -6px 20px;
  }

  .feedback-container__title--user-contacts {
    margin-right: 339px;
    margin-left: 345px;
  }

  .feedback-container__list-item--email::after {
    width: 59px;
    height: 59px;
    margin-top: -40px;
    margin-left: 313px;
    top: -3px;
    background-size: 21px 14px;
    background-position: 18px 22px;
  }

  .feedback-container__list-item--phone::after {
    width: 59px;
    height: 59px;
    margin-top: -40px;
    margin-left: 313px;
    top: 61px;
    background-size: 27px 22px;
    background-position: 18px 18px;
  }

  .feedback-container__achievement {
    margin: 65px 11px 0;
    padding: 36px 7px 1px 20px;
  }

  .feedback-container__achievement .feedback-container__title {
    margin: -47px 243px 0 224px;
  }

  .feedback-container__achievement .feedback-container__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 170px;
    padding-left: 33px;
    padding-top: 27px;
  }

  .feedback-container__achievement .feedback-container__list-item {
    padding-bottom: 45px;
  }

  .feedback-container__description {
    position: relative;
    margin-left: 63px;
    margin-top: 7px;
  }

  .feedback-container__description::before {
    margin-left: -60px;
  }

  .feedback-container__checkbox:checked + .feedback-container__description::after {
    margin-top: -2px;
    margin-left: -52px;
    transform: translateY(-226%) rotate(-45deg);
  }

  .feedback-container__comment {
    margin: 64px 11px 0 10px;
  }

  .feedback-container__comment .feedback-container__title {
    margin: -11px 333px 50px 337px;
  }

  .feedback-container__user-comment {
    width: 779px;
    margin: 41px 56px 36px;
    padding: 14px 19px 80px 21px;
  }

  .feedback-container__end {
    width: 960px;
    margin: 64px 10px 0 10px;
  }

  .feedback-container__field {
    letter-spacing: -0.6px;
  }

  .feedback-container__footnote {
    display: inline;
  }
}
