.main-nav {
  display: none;
  position: absolute;
  min-width: 320px;
  margin: 0 auto;
}

.main-nav__item {
  border-bottom: 1px solid @color-black;
  font-size: @font-size-big;
  line-height: @line-height-big;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;

  &:first-child {
    border-top: 1px solid @color-black;
  }

  &:last-child {
    border-bottom: 2px solid @color-black;
  }
}

.main-nav__item a {
  font-weight: 700;
  color: @color-white;
  text-align: center;

  &:hover {
    color: @color-pink;
  }

  &:active {
    color: @color-pink-active;
  }
}

.main-nav__site-list {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(40, 54, 69);
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .main-nav__site-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 625px;
    margin-top: -85px;
    margin-left: 130px;
    background-color: transparent;
  }

  .main-nav__item,
  .main-nav__item:first-child,
  .main-nav__item:last-child {
    border: none;
  }

  .main-nav__item {
    text-transform: none;
    font-weight: 400;
  }
}
