.page-header {
  position: relative;
  margin-bottom: -70px;
  padding: 20px 0 15px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header--nojs {
  background-color: @color-dark-blue;
  padding-bottom: 0;
}

.page-header--menu-opened {
  background-color: @color-dark-blue;
}

.page-header .container {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  margin-left: 20px;
  margin-top: 4px;
  cursor: pointer;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding: 24px 0 34px;
    margin-bottom: -111px;
  }

  .page-header--nojs {
    padding-bottom: 0;
  }

  .page-header .container {
    width: 100%;
  }

  .page-header__logo {
    margin: 2px 0 4px 19px;
  }

  .page-header__toggle {
    margin-left: 475px;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 154px;
    padding: 23px 0 35px;
  }

  .page-header .container {
    flex-direction: row;
    width: 960px;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .page-header__logo {
    margin-left: 10px;
  }

  .page-header__toggle {
    display: none;
  }
}
