.page-footer--hidden-mobile {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 41px;
}

.page-footer__wrapper--photo {
  margin-top: 41px;
}

.page-footer__wrapper--photo .page-footer__logo {
  margin-left: -1px;
}

.page-footer__wrapper--form {
  margin-top: 56px;
}

.page-footer__wrapper--form .page-footer__logo {
  margin-left: -3px;
}

.page-footer__wrapper--form .copyright {
  margin-left: -4px;
}


.page-footer__logo {
  margin-left: 18px;
}

.page-footer__logo--photo {
  margin-left: 0;
}

@media (min-width: @tablet-width) {
  .page-footer--hidden-mobile {
    display: block;
  }

  .page-footer--hidden-mobile .page-footer__wrapper {
    margin-top: 373px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 167px;
  }

  .page-footer__logo {
    margin-left: 0;
  }

  .page-footer__copyright {
    margin-top: 10px;
  }

  .page-footer__wrapper--photo {
    margin-top: 5px;
    margin-left: -18px;
  }

  .page-footer__wrapper--photo .page-footer__logo {
    margin-left: 18px;
    margin-top: 8px;
  }

  .page-footer__wrapper--photo .page-footer__copyright {
    margin-top: 10px;
    margin-right: 0;
  }

  .page-footer__wrapper--form {
    margin-top: 56px;
  }

  .page-footer__wrapper--form .page-footer__logo {
    margin-left: 1px;
  }

  .page-footer__wrapper--form .page-footer__social {
    margin-left: -24px;
    margin-top: 20px;
  }

  .page-footer__wrapper--form .page-footer__copyright {
    margin-right: -1px;
    margin-top: 13px;
  }
}


@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    margin-top: 275px;
  }

  .page-footer--hidden-mobile .page-footer__wrapper {
    margin-top: 584px;
  }

  .page-footer__logo {
    margin-left: 10px;
  }

  .page-footer__copyright {
    margin-top: 5px;
    margin-right: 34px;
  }

  .page-footer__wrapper--photo {
    margin-top: 66px;
    margin-left: -8px;
  }

  .page-footer__wrapper--photo .page-footer__social {
    margin-top: 25px;
    margin-left: 19px;
  }

  .page-footer__wrapper--photo .page-footer__copyright {
    margin-right: 34px;
    margin-top: 13px;
  }

  .page-footer__wrapper--form {
    margin-top: 41px;
  }

  .page-footer__wrapper--form .page-footer__logo {
    margin-left: 10px;
  }

  .page-footer__wrapper--form .page-footer__social {
    margin-left: 12px;
  }

  .page-footer__wrapper--form .page-footer__copyright {
    margin-right: 34px;
    margin-top: 8px;
  }
}
