.popup {
  display: none;
  box-shadow: 0 0px 45px -8px rgba(0,0,0,0.5);
  height: 290px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.popup-description {
  font-size: @font-size-normal;
  color: @color-dark-blue;
}

.popup-confirmation {
  background-color: @color-white;
}
