.price-table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(242, 242, 242);
  border-collapse: collapse;
  background-color: @color-white;
}

.price-table__header {
  color: @color-white;
  background-color: @color-dark-blue;
}

.price-table__title {
  font-size: @font-size-big;
  font-weight: 700;
}

.price-table__value {
  font-size: @font-size-bigger;
  font-weight: 300;
  line-height: 30px;
}

.price-table__item {
  text-transform: uppercase;
  color: @color-dark-blue;
}
