.reviews {
  position: relative;
  margin-bottom: 40px;
}

.reviews__wrapper {
  max-width: 280px;
  margin: 0 auto;
}

.reviews__item {
  display: none;
  text-align: center;
  margin: 42px -3px 0;
}

.reviews__list {
  display: block;
  position: relative;
}

.reviews__item--active {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reviews__author-name {
  color: @color-black;
  font-size: @font-size-big;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
}

.reviews__author-description {
  display: none;
}

.reviews__text {
  color: @color-dark-blue;
  font-size: @font-size-normal;
  font-weight: 400;
  margin-top: 14px;
  line-height: 30px;
  width: 280px;
}

.reviews__text br {
  display: none;
}

.reviews__btns {
  display: none;
}

.reviews__toggle {
  .slider();
  cursor: pointer;
}

.reviews__toggle:hover:not(.reviews__toggle--active) {
  background-color: rgb(126, 134, 143);
}

.reviews__toggle:active:not(.reviews__toggle--active) {
  background-color: rgb(233, 235, 236);
}

.reviews__toggle--active {
  .slider--active();
  width: 12px;
  height: 12px;
  margin-left: -4px;
  margin-top: -2px;
}

.reviews__toggles {
  display: flex;
  justify-content: space-between;
  margin: 24px 113px 6px;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin-top: -294px;
    margin-bottom: -17px;
  }

  .reviews__wrapper {
    max-width: 620px;
  }

  .reviews__item--active {
    display: flex;
    flex-direction: column-reverse;
    margin: 82px 0 0 0;
    letter-spacing: 0.5px;
  }

  .reviews__author-description {
    display: block;
    color: @color-dark-blue;
    font-size: 13px;
  }

  .reviews__author-name {
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .reviews__text {
    width: 630px;
    margin-top: 12px;
    font-size: 17px;
  }

  .reviews__toggles {
    margin: 40px 281px 39px;
  }

  .reviews__toggle--active {
    margin-left: -2px;
    margin-top: -3px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    margin-top: 0;
  }

  .reviews__wrapper {
    margin: 175px 0 0 170px;
  }

  .reviews__wrapper::before {
    content: "";
    position: absolute;
    background: url("../img/icon-quotes.svg") no-repeat;
    width: 81px;
    height: 71px;
    margin-top: -100px;
    margin-left: 273px;
    opacity: 0.1;
  }

  .reviews__text {
    width: 700px;
    font-weight: 400;
  }

  .reviews__author-name {
    font-size: @font-size-bigger;
    letter-spacing: 0;
    margin-left: 0;
    margin-top: 21px;
  }

  .reviews__author-description {
    font-size: 17px;
    margin: 0 0 0 1px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__item--active {
    margin-top: 1px;
  }

  .reviews__btns {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 50px;
    margin-left: -161px;
    margin-top: -158px;
  }

  .reviews__btn--left {
    background: url("../img/icon-review-arrow-left.svg") no-repeat;
    width: 22px;
    height: 41px;
    border: 0;
    opacity: 0.3;
    overflow: hidden;
    cursor: pointer;
    outline: 0;
  }

  .reviews__btn--left:hover {
    opacity: 0.6;
  }

  .reviews__btn--left:active {
    opacity: 0.1;
  }

  .reviews__btn--right {
    background: url("../img/icon-review-arrow-right.svg") no-repeat;
    width: 22px;
    height: 41px;
    border: 0;
    opacity: 0.3;
    overflow: hidden;
    cursor: pointer;
    outline: 0;
  }

  .reviews__btn--right:hover {
    opacity: 0.6;
  }

  .reviews__btn--right:active {
    opacity: 0.1;
  }
}
