.user-posts {
  color: @color-dark-blue;
}

.user-posts__author {
  font-weight: 700;
}

.user-posts__time {
  font-weight: 300;
}

.user-posts__like-сounter {
  color: @color-pink;
  text-transform: uppercase;
}

.user-posts__like {
  background: url("../img/icon-heart.svg") no-repeat;
  border: none;
}
